html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden; 
}
.App {
  text-align: center;
  font-family: 'Raleway', sans-serif;
}

.title {
  font-family: 'Clicker Script', cursive !important;
}

.title2 {
  font-family: 'Pinyon Script', cursive;
}

.navbar{
  z-index: 99;
}

.cover{
  background-image: url('./images//coverSp2.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(237, 241, 240, 0.11)
}

.cover-2{
  background-image: url('./images//barraPasteles3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0 0 0 100vmax rgba(207, 164, 22, 0.212)
}

.main-gradient {
  background: linear-gradient(
    to right, 
    #975a16 0%,
    #b7791f 50%, 
    #b7791f 50%, 
    #744210 100%
  );
  height: 100%;
  width: 100%;
}

.btn-gradient {
  background: linear-gradient(
    to right, 
    #b7791f 0%,
    #975a16 50%, 
    #975a16 50%, 
    #744210 100%
  );
}


.parallax {
  position: relative;
  background-image: url('./images//pastelConejito2.jpg') !important;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  position:relative;
  background-image: url('./images//tartaAlmendra.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.flip-container {
  perspective: 1000;
  display: inline-block;
}

.flip-container:hover .card {
  transform: rotateY(180deg);
}

.card, .front, .back {
  width: 30rem;
  height:24rem; 
}

.card {
  transition: 1.5s;
  transform-style: preserve-3d;
  position: relative;
}
.front, .back {
  backface-visibility: hidden;
  position: absolute;
}
.front {
  z-index: 1;
  transform: rotateY(180deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.back {
  z-index: 2; /* back side, placed above front */
  transform: rotateY(0deg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#front-1 {
  background: url("./images//cheesecake.jpg") no-repeat; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#back-1 {
  background: url("./images//cheesecake3.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#front-2 {
  background: url("./images//pastelConejito2.jpg") no-repeat; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#back-2 {
  background: url("./images//pastelConejito.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#front-3 {
  background: url("./images//tartaAlmendra2.jpg") no-repeat; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#back-3 {
  background: url("./images//tartaAlmendra.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#front-4 {
  background: url("./images//pastelZanahoria3.jpg") no-repeat; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#back-4 {
  background: url("./images//pastelZanahoria4.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#front-5 {
  background: url("./images//pastelFudge2.jpg") no-repeat; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#back-5 {
  background: url("./images//pastelFudge2.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#front-6 {
  background: url("./images//pastelMilhojas2.jpg") no-repeat; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#back-6 {
  background: url("./images//pastelMilhojas3.jpg") no-repeat;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-card {
  width: 25rem;
  height:20rem;
  position: relative;
  display: inline-block;
}

.img-card .img-btm {
  width: 25rem;
  height:20rem;
}

.img-card .img-top {
  width: 25rem;
  height:20rem;
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 98;
}

.img-card:hover .img-top {
  display: inline;
}